function getStartTime(e, timeList) {
  se_class = e.replace("节", "").split("-");
  start_class = se_class[0];
  start_time = timeList[start_class].split("-")[0];
  return start_time;
}

function getEndTime(e, timeList) {
  se_class = e.replace("节", "").split("-");
  end_class = se_class[1];
  end_time = timeList[end_class].split("-")[1];
  return end_time;
}

function differTime(timeStamp) {
  const nowTimeStamp = getDate().getTime();
  const differ = nowTimeStamp - timeStamp;
  const seconds = Math.floor(differ / 1000);
  if (seconds < 10) {
    return "刚刚";
  }
  if (seconds < 60) {
    return seconds + "秒前";
  }
  const minutes = Math.floor(seconds / 60);
  if (minutes < 60) {
    return minutes + "分钟前";
  }
  const hours = Math.floor(minutes / 60);
  if (hours < 24) {
    return hours + "小时前";
  }
  const days = Math.floor(hours / 24);
  if (days < 7) {
    return days + "天前";
  }
  const weeks = Math.floor(days / 7);
  if (weeks < 5) {
    return weeks + "星期前";
  }
  const months = Math.floor(weeks / 4);
  if (months < 12) {
    return months + "月前";
  }
  const years = Math.floor(months / 12);
  return years + "年内";
}

function removeHtmlTag(e) {
  // 正则匹配删除富文本的标头
  if (!e) {
    console.log("/utils/util.wxs removeHtmlTag(e)的参数有问题", e);
    return;
  }
  return e
    .replace(getRegExp("</?[^>]+>", "g"), "")
    .replace(getRegExp("&.*?;", "g"), "");
}

module.exports = {
  removeHtmlTag: removeHtmlTag,
  getStartTime: getStartTime,
  getEndTime: getEndTime,
  differTime: differTime,
};
